body {
  margin-top: 4em;
}

.selectedRow {
  background: lightblue ;
}


/*Margin and Padding helpers*/
/*xs*/
.p-xs { padding: .25em; }
.px-xs { padding: 0 .25em; }
.py-xs { padding: .25em 0 ; }
.pt-xs { padding-top: .25em; }
.pr-xs { padding-right: .25em; }
.pb-xs { padding-bottom: .25em; }
.pl-xs { padding-left: .25em; }
.m-xs { margin: .25em; }
.mx-xs { margin: 0 .25em; }
.my-xs { margin: .25em 0 ; }
.mr-xs { margin-right: .25em; }
.ml-xs { margin-left: .25em; }
.mt-xs { margin-top: .25em; }
.mb-xs { margin-bottom: .25em; }
/*sm*/
@media (min-width:768px){
/*sm*/
.p-sm { padding: .5em; }
.px-sm { padding: 0 .5em; }
.py-sm { padding: .5em 0 ; }
.pt-sm { padding-top: .5em; }
.pr-sm { padding-right: .5em; }
.pb-sm { padding-bottom: .5em; }
.pl-sm { padding-left: .5em; }
.m-sm { margin: .5em; }
.mx-sm { margin: 0 .5em; }
.my-sm { margin: .5em 0 ; }
.mt-sm { margin-top: .5em; }
.mr-sm { margin-right: .5em; }
.mb-sm { margin-bottom: .5em; }
.ml-sm { margin-left: .5em; }
}

/*md*/
@media (min-width: 992px){
.p-md { padding: 1em; }
.px-md { padding: 0 1em; }
.py-md { padding: 1em 0; }
.pt-md { padding-top: 1em; }
.pr-md { padding-right: 1em; }
.pb-md { padding-bottom: 1em; }
.pl-md { padding-left: 1em; }
.m-md { margin: 1em; }
.mx-md { margin: 0 1em; }
.my-md { margin: 1em 0 ; }
.mt-md { margin-top: 1em; }
.mr-md { margin-right: 1em; }
.mb-md { margin-bottom: 1em; }
.ml-md { margin-left: 1em; }
}

/*lg*/
@media (min-width: 1200px){
.p-lg { padding: 1.5em; }
.px-lg { padding: 0 1.5em; }
.py-lg { padding: 1.5em 0; }
.pt-lg { padding-top: 1.5em; }
.pr-lg { padding-right: 1.5em; }
.pb-lg { padding-bottom: 1.5em; }
.pl-lg { padding-left: 1.5em; }
.m-lg { margin: 1.5em; }
.mx-lg { margin: 0 1.5em; }
.my-lg { margin: 1.5em 0; }
.mt-lg { margin-top: 1.5em; }
.mr-lg { margin-right: 1.5em; }
.mb-lg { margin-bottom: 1.5em; }
.ml-lg { margin-left: 1.5em; }
}
/*xl*/
.p-xl { padding: 3em; }
.px-xl { padding: 0 3em; }
.py-xl { padding: 3em 0 ; }
.pt-xl { padding-top: 3em; }
.pr-xl { padding-right: 3em; }
.pb-xl { padding-bottom: 3em; }
.pl-xl { padding-left: 3em; }
.m-xl { margin: 3em; }
.mx-xl { margin: 0 3em; }
.my-xl { margin: 3em 0; }
.mt-xl { margin-top: 3em; }
.mr-xl { margin-right: 3em; }
.mb-xl { margin-bottom: 3em; }
.ml-xl { margin-left: 3em; }


.swal2-popup {
  font-size: 1.6rem !important;
}