<h4>Requests Management</h4>

<div class="panel container">

    <div class="panel-body">

        <div class="alert alert-info" role="alert">
            <p style="text-align: center;">There are <strong ng-bind="ctrl.admin.requestsL">...</strong> <select
                    style="width: auto; margin: 0px 10px; display:inline;" class="form-control"
                    ng-change="ctrl.admin.reload()" ng-model="ctrl.admin.status.selected">
                    <option ng-repeat="option in ctrl.admin.status.options" value="{{option}}">{{option}}</option>
                </select> account
                requests. </p>
        </div>

        <div class="panel-body">
            <label style="padding-top:05px;" for="email-search" class="col-sm-2">Name search:</label>
            <div class="col-sm-10">
                <input ng-model="ctrl.admin.nameFilter" ng-change="ctrl.admin.applyFilter()" id="email-search" class="form-control" type="text"/>
            </div>
        </div>



        <table class="table-striped table">
            <tr>
                <th>Register Date</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="e in ctrl.admin.requests">
                <td ng-bind="e.iDate"></td>
                <td ng-bind="e.name"></td>
                <td ng-bind="e.email"></td>
                <td ng-bind="e.bDateFormated"></td>
                <td>
                    <div>
                        <button ng-show="e.status == 'new'" ng-click="ctrl.admin.reject($index)"
                            class="btn btn-danger"><i class="fa fa-times"></i>
                            Reject</button ng-show="e.status == 'new'">
                        <button ng-show="e.status == 'new' || e.status == 'rejected' "
                            ng-click="ctrl.admin.accept($index)" class="btn btn-success"><i class="fa fa-check"></i>
                            Accept</button>
                    </div>
                </td>
                <td>
                    <p ng-class="ctrl.admin.getClass(e.status)" class="btn"> <i class="fa fa-info-circle"
                            aria-hidden="true" data-toggle="popover" data-trigger="hover" data-placement="right"
                            data-content="{{ e.statusDate }}"></i>
                        <span ng-bind="e.status" style="cursor: auto;"></span>
                        </span>

                </td>
            </tr>
        </table>

    </div>

</div>