<h4>History</h4>

<div class="panel panel-default">

    <div class="panel-heading">
        <label for="last5">Last 5 only</label>
        <input id="last5" type="checkbox" ng-model="ctrl.last5" ng-change="ctrl.refreshHistory()"/>
        <label for="search">Filter by description</label>
        <input id="search" type="text" ng-model="ctrl.filter" ng-change="ctrl.refreshHistory()"/>
    </div>

    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Sender</th>
                <th>Recipient</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Balance after</th>
            </tr>
            <tr ng-repeat="entry in ctrl.history">
                <td ng-bind="entry.date"></td>
                <td ng-bind="entry.sender_email"></td>
                <td ng-bind="entry.recipient_email"></td>
                <td ng-bind="entry.amount"></td>
                <td ng-bind="entry.description"></td>
                <td ng-bind="entry.balance"></td>
            </tr>
        </table>
    </div>
</div>