<h1>zBank2020</h1>

<div class="panel panel-default" style="text-align: center;">

    <div class="container panel-body" ng-if="!ctrl.session.login">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Returning Customer</h3>
                <p>Already have an account? Use the form bellow to <strong>Login</strong>.</p>
                <form>
                    <div class="form-group">
                        <label for="emailLogin">Email address</label>
                        <input type="email" class="form-control" ng-model="ctrl.creds.email" id="emailLogin">
                    </div>
                    <div class="form-group">
                        <label for="passwordLogin">Password</label>
                        <input type="password" class="form-control" ng-model="ctrl.creds.password" id="passwordLogin">
                    </div>
                    <button type="submit" ng-click="ctrl.doLogin()" class="btn btn-default">Login</button>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6" style="padding-right:5%;">
                <h3>New Customer</h3>
                <p>Would you like to join <i>zBank2020</i>? <strong>Register</strong> bellow!</p>
                <form autocomplete="off">
                    <div class="form-group">
                        <label for="registerName">Full Name</label>
                        <input type="text" class="form-control" ng-model="ctrl.register.name" id="registerName">
                    </div>
                    <div class="form-group">
                        <label for="registerEmail">Email address</label>
                        <input type="email" autocomplete="off" class="form-control" ng-model="ctrl.register.email"
                            id="registerEmail">
                    </div>
                    <div class="form-group">
                        <label for="registerPassword">Desired Password</label>
                        <input type="password" autocomplete="new-password" class="form-control"
                            ng-model="ctrl.register.password" id="registerPassword">
                    </div>
                    <div class="form-group">
                        <label for="registerBirthDate">
                            Birth Date <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover"
                                data-trigger="hover" data-placement="right" data-content="You must be 18 years old or older to open an account."></i>
                        </label>
                        <input type="date" class="form-control" ng-model="ctrl.register.bdate" id="registerBirthDate">
                    </div>
                    <button type="submit" ng-click="ctrl.doRegister()" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>

    </div>

    <div class="panel-body" ng-if="ctrl.session.login">
        <button class="btn btn-primary" ng-click="ctrl.doLogout()">Logout</button>
    </div>

    <div class="panel-footer">
        <span class="label label-success" ng-bind="ctrl.message.ok"></span>
        <span class="label label-danger" ng-bind="ctrl.message.error"></span>
    </div>

</div>

<script>
    // Initialize tooltip component
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    // Initialize popover component
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>