<h4>Settings</h4>

<div class="panel panel-default">

    <div class="panel-body" style="text-align: center;">

        <div class="panel-body">
            <label for="password">Password</label>
            <input id="password" type="password" class="form" ng-model="ctrl.newpass.password" />
            <label for="retype">Retype password</label>
            <input id="retype" type="password" class="form" ng-model="ctrl.retype" />
            <button class="btn btn-primary" ng-click="ctrl.doChangePassword()"
                ng-disabled="!ctrl.newpass.password || ctrl.newpass.password != ctrl.retype">Change password</button>
        </div>

        <div class="panel-footer">
            <span class="label label-success" ng-bind="ctrl.message.ok"></span>
            <span class="label label-danger" ng-bind="ctrl.message.error"></span>
        </div>

    </div>

    <div class="panel-body">

        <div class="panel-body" style="text-align: center;">
            <label for="name">Name</label>
            <input id="name" type="text" class="form" ng-model="ctrl.edited.name" />
            <label for="recipient">Recipient</label>
            <input id="recipient" type="text" class="form" ng-model="ctrl.edited.recipient" />
            <button class="btn btn-primary" ng-click="ctrl.doNew()">New</button>
            <button class="btn btn-primary" ng-click="ctrl.doUpdate()"
                ng-disabled="ctrl.selectedIndex < 0">Update</button>
        </div>

        <div class="panel-footer">
            <table class="table table-striped" style="width: 100%;">
                <tr ng-repeat="def in ctrl.defs track by $index" ng-click="ctrl.doClick($index)">
                    <td ng-bind="def.name" ng-class="{ selectedRow: ctrl.selectedIndex == $index }"></td>
                    <td ng-bind="def.recipient" ng-class="{ selectedRow: ctrl.selectedIndex == $index }"></td>
                </tr>
            </table>
        </div>

    </div>

</div>